node_modules
dist
.env
.DS_Store
coverage
npm-debug.log
yarn-error.log
.vscode
.idea
*.log
*.tsbuildinfo
*.tgz
*.swp
*.bak
*.tmp
*.cache
*.pid
*.seed
*.pid.lock
*.sublime-workspace
*.sublime-project
*.iml
*.orig
*.swm
*.swo
*.swp
*.swn
*.swa
*.swx  
package-lock.json
yarn.lock
pnpm-lock.yaml
lerna-debug.log
lerna-debug.log.*
lerna.json